
@import '../stage-node/module.css';

:host {
    grid-template-columns: 1fr;
    grid-template-rows: 1.125rem 1.125rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

:host > file-menu {
    display: none;
}

:host > .outputs-svg {
    grid-row: 2;
}
