
@import '../stage-node/element.css';

:host {
    grid-template-columns: 1fr;
    grid-template-rows: 1.875rem 1.125rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

:host > select {
    align-self: center;
}

:host > file-menu {
    display: none;
}

:host > .outputs-svg {
    grid-column: 1 / span 2;
    grid-row: 2;
}
