/* A monochrome theme based on inherited currentcolor for small <input>s. */


input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    vertical-align: bottom;
}

[type="range"].mono-input {
    --handle-size: 0.625rem;

    cursor: pointer;
    width: 0.75rem;

    -webkit-appearance: none !important;
    background-color: transparent;
    border-width: 0;

    /*required for proper track sizing in FF*/
    /*width: 100%;
    height: 100%;*/

    cursor: pointer;
    cursor: ns-resize;

    background-image: linear-gradient(to top,
        transparent      0%,
        transparent      calc(0.5 * var(--handle-size)),
        currentcolor     calc(0.5 * var(--handle-size)),
        currentcolor     calc((100% - var(--handle-size)) * var(--normal-value, 0) + 1px),
        transparent calc((100% - var(--handle-size)) * var(--normal-value, 0) + 1px),
        transparent 100%
    );

    background-size: 2px 100%;
    background-position: center center;
}

[type="range"].mono-input::-webkit-slider-runnable-track {
    background: transparent;
    border-width: 0;
}

[type="range"].mono-input:hover,
[type="range"].mono-input:focus-visible {
    background-color: rgba(0,0,0,0.04);
}

[type="range"].mono-input::-webkit-slider-thumb {
    -webkit-appearance: none !important;

    cursor: pointer;
    cursor: ns-resize;

    width: var(--handle-size, 0.6875rem);
    height: var(--handle-size, var(--handle-size, 0.6875rem));

    background: transparent;
    border: 2px solid currentcolor;
    border-radius: 50%;

    /* Increase hit zone */
    outline: 0.25rem solid transparent;
}

.square-mono-input {
    --handle-size: 0.5625rem;
}

.square-mono-input::-webkit-slider-thumb {
    border-radius: 0.125rem;
}

.mono-input::-moz-range-thumb {
    cursor: pointer;
    cursor: ns-resize;

    width: var(--handle-width, 0.875rem);
    height: var(--handle-height, var(--handle-width, 0.875rem));
    margin-top: calc(0.5 * (var(--track-height, 0.75rem) - var(--handle-height, var(--handle-width, 0.875rem))));
    border: var(--handle-border, none);
    border-radius: 50%;
    background: #B6B2B0;
    background: var(--handle-background, linear-gradient(rgb(247,247,247), rgb(140,140,140)));
}



.mono-input[type="range"]::-moz-range-track {
    height: var(--track-height, 0.75rem);
    background: var(--track-background, #2B3134);
    border: var(--track-background, none);
    border-radius: var(--track-radius, calc(0.5 * var(--track-height, 0.75rem)));
    box-shadow: var(--track-shadow);
}

.mono-input[type="range"]::-moz-range-progress {
    height: var(--track-height, 0.75rem);
    background: var(--track-background, #2B3134);
    border-radius: var(--track-radius, calc(0.5 * var(--track-height, 0.75rem)));
    box-shadow: var(--track-shadow);
}










rotary-input.mono-input {
    /* Sizes in ems so they adapt.
       Line widths in rems so they stay constant. */
    min-width: 1.125em;
    min-height: 1.125em;

    /* Track */
    --track-size: 0em;
    --track-shadow: none;
    --track-background: transparent;
    --value-color: none;

    /* Handle */
    --handle-size: 1.125em;
    --handle-border: 0.125rem solid currentcolor;
    --handle-background: transparent;
    --handle-shadow: none;

    /* Dot */
    --dot-size: 0.125em;
    --dot-distance: calc(50% - 2 * var(--dot-size) - 1px);
    --dot-background: rgb(43, 52, 57);
    --dot-border: 0.125rem solid currentcolor;
    --dot-shadow: none;
}

rotary-input.mono-input::part(output) {
    display: none;
}

rotary-input[name^="phase"],
rotary-input[name$="phase"] {
    /* Full circle movement */
    --rotation-start: 0deg;
    --rotation-range: 360deg;
}
