.param-grid {
    --x-gap: 0;
    --y-gap: 0;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;

}

.param-grid > label  { grid-column: 1;          grid-row: 1; --size: 1.125rem; }
.param-grid > input  { grid-column: 1 / span 2; grid-row: 2; }
.param-grid > output { grid-column: 2;          grid-row: 1; }

.line-param-grid {
    --x-gap: 0.75rem;
    grid-template-columns: 7.5em 1fr 5em;
}

.line-param-grid > label  { grid-column: 1; grid-row: 1; justify-self: end; --size: 1.125rem; }
.line-param-grid > input,
.line-param-grid > select,
.line-param-grid > pre    { grid-column: 2; grid-row: 1; justify-self: stretch; }
.line-param-grid > output { grid-column: 3; grid-row: 1; justify-self: start; }
