
input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    vertical-align: bottom;
}

.post-input {
    --handle-size: 0.625rem;

    cursor: pointer;
    width: 0.75rem;

    -webkit-appearance: none !important;
    background-color: transparent;
    border-width: 0;

    /*required for proper track sizing in FF*/
    /*width: 100%;
    height: 100%;*/

    cursor: pointer;
    cursor: ns-resize;

    background-image: linear-gradient(to top,
        transparent      0%,
        transparent      calc(0.5 * var(--handle-size)),
        currentcolor     calc(0.5 * var(--handle-size)),
        currentcolor     calc((100% - var(--handle-size)) * var(--normal-value, 0) + 1px),
        transparent calc((100% - var(--handle-size)) * var(--normal-value, 0) + 1px),
        transparent 100%
    );

    background-size: 2px 100%;
    background-position: center center;
}

.post-input::-webkit-slider-runnable-track {
    background: transparent;
    border-width: 0;
}

.post-input:hover,
.post-input:focus-visible {
    background-color: rgba(0,0,0,0.04);
}

.post-input::-webkit-slider-thumb {
    -webkit-appearance: none !important;

    cursor: pointer;
    cursor: ns-resize;

    width: var(--handle-size, 0.6875rem);
    height: var(--handle-size, var(--handle-size, 0.6875rem));

    background: transparent;
    border: 2px solid currentcolor;
    border-radius: 50%;

    /* Increase hit zone */
    outline: 0.25rem solid transparent;
}

.square-post-input {
    --handle-size: 0.5625rem;
}

.square-post-input::-webkit-slider-thumb {
    border-radius: 0.125rem;
}

.post-input::-moz-range-thumb {
    cursor: pointer;
    cursor: ns-resize;

    width: var(--handle-width, 0.875rem);
    height: var(--handle-height, var(--handle-width, 0.875rem));
    margin-top: calc(0.5 * (var(--track-height, 0.75rem) - var(--handle-height, var(--handle-width, 0.875rem))));
    border: var(--handle-border, none);
    border-radius: 50%;
    background: #B6B2B0;
    background: var(--handle-background, linear-gradient(rgb(247,247,247), rgb(140,140,140)));
}



[type="range"]::-moz-range-track {
    height: var(--track-height, 0.75rem);
    background: var(--track-background, #2B3134);
    border: var(--track-background, none);
    border-radius: var(--track-radius, calc(0.5 * var(--track-height, 0.75rem)));
    box-shadow: var(--track-shadow);
}

[type="range"]::-moz-range-progress {
    height: var(--track-height, 0.75rem);
    background: var(--track-background, #2B3134);
    border-radius: var(--track-radius, calc(0.5 * var(--track-height, 0.75rem)));
    box-shadow: var(--track-shadow);
}
