
@import '../stage-node/module.css';
@import '../../classes/char-thumb.css';
@import '../../classes/fader-input.css';
@import '../../classes/mono-input.css';
@import '../../../form-elements/normal-input/pan-input.css';



:host {
    grid-template-rows: 1.125rem min-content 1.875rem;
    width: 74px;
}

:host > pre {
    grid-column: 1 / span 3;
    font-size:   0.6875em;
    white-space: pre;
    min-height:  3lh;
    overflow: hidden;
    background-color: white;
}




.mix-grid {
    width: 4.625rem;
    padding: 0.375rem 0.1875rem;
    /* It would be nive to use some flexible space but Safari does not
       like flexible space when it spans columns. Or something. It's dodgy. */
    grid-template-rows: 1.5rem 0.9375rem 7.875rem 1.3125rem 1.3125rem 0.9375rem;

    --x-gap: 0;
    --y-gap: 0.1875rem;

    background-color: color(display-p3 0.279 0.284 0.288);
}

.mix-grid > * {
    margin: 0;
    justify-self: center;
}

.mix-grid > [name="pan"] {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-bottom: -3px;
}

.mix-grid > [name="gain"] {
    grid-column: 1;
    grid-row: 2 / span 5;
}

.mix-grid > [for="invert"] {
    grid-column: 2;
    grid-row: 4;
}

.mix-grid > [for="mute"] {
    grid-column: 2;
    grid-row: 5;
}







