<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="@stephband" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width" />

    <script>
        window.DEBUG = true;
    </script>

    <script type="importmap">{
        "imports": {
            "bolt/":       "../../bolt/",
            "dom/":        "../../dom/modules/",
            "fn/":         "../../fn/modules/",
            "forms/":      "../../form-elements/",
            "literal/":    "../../literal/",
            "midi/":       "../../midi/modules/",
            "soundstage/": "../../soundstage/modules/"
        }
    }</script>

    <link rel="stylesheet" href="../../bolt/elements/html.css" />
    <link rel="stylesheet" href="../../bolt/elements/table.css" />
    <link rel="stylesheet" href="../../bolt/elements/label.css" />
    <link rel="stylesheet" href="../../bolt/elements/form.css" />
    <link rel="stylesheet" href="../../bolt/elements/svg.css" />
    <link rel="stylesheet" href="../../bolt/classes/block.css" />
    <link rel="stylesheet" href="../../bolt/classes/atoms.css" />
    <link rel="stylesheet" href="../../bolt/classes/button.css" />
    <link rel="stylesheet" href="../../bolt/classes/invisible.css" />
    <link rel="stylesheet" href="../../bolt/classes/checkbox-button.css" />
    <link rel="stylesheet" href="../../bolt/classes/checkbox-label.css" />

    <style>
        html, body {
            height: 100%;
        }

        html {
            background-color: #646568;
        }

        body {
            font-family: var(--system-font);
            padding: 1.875rem 1.5rem;
        }

        .param-grid {
            --x-gap: 0;
            --y-gap: 0;
            grid-template-columns: 1fr min-content;
            grid-template-rows: auto auto;

        }

        .param-grid > label  { grid-column: 1;          grid-row: 1; --size: 1.125rem; }
        .param-grid > input  { grid-column: 1 / span 2; grid-row: 2; }
        .param-grid > output { grid-column: 2;          grid-row: 1; }

        .line-param-grid {
            --x-gap: 0.75rem;
            grid-template-columns: 10em 1fr 5em;
        }

        .line-param-grid > label  { grid-column: 1; grid-row: 1; justify-self: end; --size: 1.125rem; }
        .line-param-grid > input,
        .line-param-grid > select,
        .line-param-grid > pre    { grid-column: 2; grid-row: 1; justify-self: stretch; }
        .line-param-grid > output { grid-column: 3; grid-row: 1; justify-self: start; }

        .node-form + .node-form { margin-top: 1rem; }
    </style>

    <script type="module">
        import events       from 'dom/events.js';
        import nodeTemplate from './node.js';
        import registerNode, { configs } from '../modules/constructors.js';

        const assign  = Object.assign;
        const context = new AudioContext();

        events('input mousedown', document.body).each(() => {
            context.resume();
        });

        function render(node) {
            const nodeRenderer = nodeTemplate.render(document.body, {}, node);
            document.body.append(nodeRenderer.content);
        }

        // Test standard AudioNodes

        // AnalyserNode
        // https://developer.mozilla.org/en-US/docs/Web/API/AnalyserNode/AnalyserNode
        render(context.createAnalyser());

        // 'buffer-source': AudioBufferSourceNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/AudioBufferSourceNode/AudioBufferSourceNode
        render(context.createBufferSource());

        // 'biquad-filter': BiquadFilterNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/BiquadFilterNode/BiquadFilterNode
        const f = context.createBiquadFilter();
        render(f);

        // 'constant': ConstantSourceNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/ConstantSourceNode/ConstantSourceNode
        render(context.createConstantSource());

        // 'convolver': ConvolverNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/ConvolverNode/ConvolverNode
        render(context.createConvolver());

        // 'delay': DelayNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/DelayNode/DelayNode
        const d = context.createDelay(10);
        render(d);

        // 'compressor': DynamicsCompressorNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/DynamicsCompressorNode/DynamicsCompressorNode
        const c = context.createDynamicsCompressor();
        render(c);

        // 'gain': GainNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/GainNode/GainNode
        const g = context.createGain();
        render(g);

        // 'iir-filter': IIRFilterNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/IIRFilterNode/IIRFilterNode
        render(context.createIIRFilter([1], [1]));

        // 'element': MediaElementAudioSourceNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/MediaElementAudioSourceNode/MediaElementAudioSourceNode
        render(context.createMediaElementSource(document.createElement('audio')));

        // I don't think we'll ever want a UI for this. It dont make sense to.
        // 'media-source': MediaStreamAudioSourceNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamAudioSourceNode/MediaStreamAudioSourceNode
        //render(context.createMediaStreamSource(new MediaStream()));

        // 'merger': ChannelMergerNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/ChannelMergerNode
        render(context.createChannelMerger());

        // 'oscillator': OscillatorNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/OscillatorNode/OscillatorNode
        const o = context.createOscillator();
        render(o);

        // 'panner': PannerNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/PannerNode/PannerNode
        const p = context.createPanner();
        render(p);

        // 'splitter': ChannelSplitterNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/ChannelSplitterNode/ChannelSplitterNode
        render(context.createChannelSplitter());

        // 'waveshaper': WaveShaperNode,
        // https://developer.mozilla.org/en-US/docs/Web/API/WaveShaperNode/WaveShaperNode
        render(context.createWaveShaper());

        // 'pan': StereoPannerNode
        // https://developer.mozilla.org/en-US/docs/Web/API/StereoPannerNode/StereoPannerNode
        render(context.createStereoPanner());


        // Test custom AudioNodes

        // Setup voice. TODO: All this faff really should not be necessary.
        import Envelope   from '../../../soundstage/nodes/envelope.js';
        import Mix        from '../../../soundstage/nodes/mix.js';
        import Sample     from '../../../soundstage/nodes/sample-set.js';
        import Graph      from '../../../soundstage/nodes/graph.js';
        import Instrument from '../../../soundstage/nodes/instrument.js';

        // Envelope
        registerNode(Envelope, {
            gain: { min: 0,     max: 1, law: 'log-24db' },
            rate: { min: 0.125, max: 8, law: 'log' }
        });
        render(new Envelope(context));

        // Mix
        registerNode(Mix, {});
        render(new Mix(context));

        // Sample
        registerNode(Sample, {});
        //render(new Sample(context));

        // Instrument
        registerNode(Instrument, {
            pitch: { min: -12, max: 12 }
        });
        // TODO: This should be handled by registerNode!
        assign(Graph.constructors, { envelope: Envelope, mix: Mix });
        render(new Instrument(context, {
            name: 'Thump',
            data: {
                voice: {
                    nodes: {
                        osc:    { type: 'tone', data: { type: 'sine', detune: 0 } },
                        mix:    { type: 'mix',  data: { gain: 0.9, pan: 0 }},
                        output: { type: 'gain', data: { gain: 1 }}
                    },
                    connects: [
                        'osc', 'mix',
                        'mix', 'output'
                    ],
                    commands: [{
                        target: 'osc'
                    }]
                }
            }
        }));


        // Make sound
        o.connect(p);
        p.connect(f);
        f.connect(g);
        g.connect(c);
        c.connect(d);
        d.connect(context.destination);
        o.start();
    </script>
</head>
<body>
    <p>AudioNode templates for Literal.</p>
</body>
</html>
